.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 20px;
  background:#000;
  color:#fff;
}
a{
  color:#fff;
}
a:hover,a:active{
  color:#e6a530!important;
}
.header{
  position:fixed;
  margin-top:0;
  padding-top:0;

}
.logo{
  background:#e6a530;
  width:220px;
  height:120px;
}
.header-nav{
  position:absolute;
  right:0;
  top:0;
}
.footer-nav{
  position:absolute;
  left:0;
  top:0;
}
.footer-nav li,
.footer-nav a{
  color:#999;
}
.small-nav{
  font-size:0.8em;
}
.small-nav ul{
  margin:0;
  padding:0;
}
.small-nav li{
  display:inline-block;
  padding-right:10px;
}
.small-nav li:after{
  content:' |';
  padding-left:10px;
}
.small-nav li:last-child{
  padding:0;
}
.small-nav li:last-child:after{
  display:none;
}

.footer{
  position:fixed;
  bottom:0;
  height:50px;
}
.sections{
  
}
section{
  outline:1px solid #fff;
}